<!DOCTYPE html>
<html>
<head>
	<title>by the numbers solver</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<!-- Le styles -->
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
	<%= javascript_include_tag "application" %>
	<script src="/assets/bootstrap.js" ></script>
  	<script src="/assets/knockout-2.3.0.js"></script>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <%= yield %>
      <hr>
    </div> 
</body>
</html>
